navbar {
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    line-height: 26.4px;
    color: whitesmoke;
}

.navbar-brand {
    font-weight: bolder;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 32px;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    font-size: 22px;
}

.navbar-inverse {
    background-color: #A01FC4;
    border-color: #A01FC4;
    color: black;
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: whitesmoke;
    }



h1 {
    /*font-family: "Dancing Script";*/
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: #A01FC4;
}


h2 {

    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}


h3 {
    /*font-family: "Dancing Script";*/
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

li {
    font-size: 43px;
}


ul {
    /*font-family: "Dancing Script";*/
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

p {
    /*font-family: "Dancing Script";*/
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    /*font-family: "Dancing Script";*/
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    /*font-family: "Dancing Script";*/
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}


body {
    font-family: "Dancing Script";
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
