@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Wylde Green lies in the south of Sutton Coldfield. 'Wild' probably derives from wild meaning 'uncultivated/ desolate'; in the 16th century it was known as le Wylde ie. The Wild. However, there is a similar Old English word which means machinery of some kind, possibly a windmill? A green in the Middle Ages was usually open pasture used by the community; the area was enclosed in 1825.</p>
<p>The 1834 One-Inch Ordnance Survey map shows Wild Green House on the Birmingham Road opposite Station Road. Was this the site of the original green? Certainly the area was later defined by the siting and naming of Wylde Green railway station on the Sutton Coldfield Branch Line from Birmingham in 1862. After the enclosures of 1825 the population gradually increased, and in 1840 Wylde Green School was founded catering for some 60 pupils.</p>
<p>Take a look. Two Grade II* Listed buildings survive on Wylde Green Road. At the east end, the barn range of New Shipton Farm has been dendro-chronologically dated to summer 1434 and spring 1435 and has 18th- and 19th- century additions. It is a rare survival with five pairs of cruck blades forming the frame and is internally impressive. The Stone House is one of the few surviving Vesey houses built by Bishop Vesey in the early 16th-century. Built of sandstone in contrast to the timber-framed houses of the poor, this was originally the fordkeeper's cottage across the Ebrook or Plantsbrook on the main road from Sutton to Coleshill.</p>
<p>On the Birmingham Road at Marchmont Road Marchmont House was a square faced neo-classical-style house built in 1853 for Birmingham silverware manufacturer Henry Fielding. It was set back from the Birmingham Road and approached by a winding drive; there were extensive gardens and a horse paddock to the rear. This and other large 19th-century houses on the Birmingham Road were demolished in the 1950s and replaced by the present housing.</p>

